




/*---------header----------*/


/*------------title-section------------*/



/*---------advantages------------*/

/*
.advantages-vector-section {
    padding-top: 94px;
}

.advantages-vector-item {
    Width:270px;
    Height:120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
*/


/*----------special-------*/



/*---------team---------*/




/*------------clients---------*/


   


/*---------footer-------*/



 /*------portfolio--------*/



/*--------backdrop------*/



