.header-mob {
    border-bottom: 1px solid #ECECEC;
    padding: 16px 15px;
    @media screen and (min-width:767px){
        display: none;
    }

}

.mob {
    display: flex
}

.header-mob-logo-part1 {
    @include font(400, 24px, 1.17);
    color: var(--akcent-color);
    font-family: 'Raleway';
}

.header-mob-logo-part2 {
    color: var(--header-link-color);
}

.mob-menu-btn-open {
    font-family: inherit;
    padding:0;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    margin-left: auto;
}
.header-soc-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--header-link-color);
    &:hover,
    &:focus {
        fill: var(--akcent-color);
    }
}

.mob-menu-open{
    position: fixed;
    background-color: var(--title-color);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
}
.mob-menu-btn-close {
    font-family: inherit;
    padding:0;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: 25px;
    display: block;
    margin-top: 8px;

}

.header-mob-menu-soc-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--header-link-color);
    &:hover,
    &:focus {
        fill: var(--akcent-color);
    }
}


.header-mob-menu-link {
    color: var(--header-link-color);
    @include font(null, 40px, 1.17, 0.02em);

}

.header-mob-menu-item:not(:last-child){
    margin-bottom: 35px;

}
.header-mob-menu-list-contakt {
    padding-top: 302px;
}

.header-mob-menu-link-tel {
    @include font(null, 34px, 1.18, 0.02em);
    margin-bottom: 32px;
    color: var(--akcent-color);
}

.header-mob-menu-link-mail {
    @include font(null, 24px, 1.17, 0.02em);
    color: var(--contakt-header);
}