.header-mob {
    border-bottom: 1px solid #ECECEC;
    padding: 16px 15px;
    @media screen and (min-width:767px){
        display: none;
    }

}

.mob {
    display: flex
}

.header-mob-logo-part1 {
    @include font(400, 24px, 1.17);
    color: var(--akcent-color);
    font-family: 'Raleway';
}

.header-mob-logo-part2 {
    color: var(--header-link-color);
}

.mob-menu-btn {
    font-family: inherit;
    padding:0;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    margin-left: auto;
}
.header-soc-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--header-link-color);
    &:hover,
    &:focus {
        fill: var(--akcent-color);
    }
}