.special {
    padding-top: 0px;
    @media screen and (max-width: 1199px){
        display: none;
    }
}

.special-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading);
    margin-bottom: 50px;
}

.special-list {
    display: flex;
    margin-left: -30px;
}

.special-item-img {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    position: relative;
}

.special-description {
    @include font($fw:700);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    color: var(--title-color );
}
